body{
margin: 0;
text-align: center;
}

h1 {
  margin-top: 0;
  font-family: cursive;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.top-container p{
  font-family: cursive;
}

.middle-container{

}



.profile img {
    height: 200px;
    width: 160px;
}


.bottom-container{
background-color: #E4F9F5;
}

.pro{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
}


 h2, h3 {
  color: #78fae1;
}
